@-webkit-keyframes alpha {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animationDropdown {
  0% {
    height: 0px;
  }
  100% {
    height: 360px;
  }
}
@-webkit-keyframes preloader1{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes preloader2after{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(190deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@-webkit-keyframes preloader2before{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(190deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@-webkit-keyframes preloader3{
  0%{
    transform: scale(.2);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(.2);
  }
}
@-webkit-keyframes preloader3b{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.2);
  }
  100%{
    transform: scale(1);
  }
}
@-webkit-keyframes preloader4{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes github{
  0%{
    bottom: 10px;
  }
  50%{
    bottom: 20px;
  }
  100%{
    bottom: 10px;
  }
}
