//FONTES
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100,900);

//ICONS


$font-padrao: 'Roboto', sans-serif;

//CORES
$cinza: #c0c8c9;
$cinza2: #9ca3a4;
$branco: #FFFFFF;
$preto: #2E2929;
$rosa: #FF1493;
$rosa2: #FF00B7;
$vermelho: #E80A0A;
$vermelho2: #980b0b;
$vermelho3: #cd1717;
$azul: #3CA3F2;
$azul2: #299BF2;
$verde: #4bd865;
$gold: #FFD700;