<!--COLLAPSE-->
    <input type="radio" class="open-components" name="radio-components" id="collapse">
    <section class="container" id="collapse">
      <div class="row">
        <div class="collapse-box">

          <div class="collapse-painel">

            <input type="checkbox" id="collapse-1" class="check-open">
            <label for="collapse-1" class="collapse-nav">Titulo do collapse 1 <span class="icon"></span></label>

              <div class="collapse-container">

                <h2>Container do collapse 1</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum itaque quae eos natus est asperiores consectetur sit, deserunt saepe totam tenetur numquam dicta harum distinctio, accusamus sed minima, reiciendis expedita.</p>

              </div>


          </div>

          <div class="collapse-painel">

            <input type="checkbox" id="collapse-2" class="check-open">
            <label for="collapse-2" class="collapse-nav">Titulo do collapse 2 <span class="icon"></span></label>

              <div class="collapse-container">

                <h2>Container do collapse 2</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum itaque quae eos natus est asperiores consectetur sit, deserunt saepe totam tenetur numquam dicta harum distinctio, accusamus sed minima, reiciendis expedita.</p>

              </div>


          </div>

          <div class="collapse-painel">

            <input type="checkbox" id="collapse-3" class="check-open">
            <label for="collapse-3" class="collapse-nav">Titulo do collapse 3 <span class="icon"></span></label>

              <div class="collapse-container">

                <h2>Container do collapse 3</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum itaque quae eos natus est asperiores consectetur sit, deserunt saepe totam tenetur numquam dicta harum distinctio, accusamus sed minima, reiciendis expedita.</p>

              </div>


          </div>

          <div class="collapse-painel">

            <input type="checkbox" id="collapse-4" class="check-open">
            <label for="collapse-4" class="collapse-nav">Titulo do collapse 4 <span class="icon"></span></label>

              <div class="collapse-container">

                <h2>Container do collapse 4</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum itaque quae eos natus est asperiores consectetur sit, deserunt saepe totam tenetur numquam dicta harum distinctio, accusamus sed minima, reiciendis expedita.</p>

              </div>


          </div>

        </div>
          {% include download.html %}
      </div>

          {% highlight html %}
            <div class="collapse-box">

              <div class="collapse-painel">

                <input type="checkbox" id="collapse-1" class="check-open">
                <label for="collapse-1" class="collapse-nav">Titulo do collapse 1 <span class="icon"></span></label>

                  <div class="collapse-container">

                    <h2>Container do collapse 1</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum itaque
                     quae eos natus est asperiores consectetur sit, deserunt saepe totam tenetur 
                     numquam dicta harum distinctio, accusamus sed minima, reiciendis expedita.</p>

                  </div>


              </div>

              <div class="collapse-painel">

                <input type="checkbox" id="collapse-2" class="check-open">
                <label for="collapse-2" class="collapse-nav">Titulo do collapse 2 <span class="icon"></span></label>

                  <div class="collapse-container">

                    <h2>Container do collapse 2</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum itaque 
                    quae eos natus est asperiores consectetur sit, deserunt saepe totam tenetur numquam 
                    dicta harum distinctio, accusamus sed minima, reiciendis expedita.</p>

                  </div>


              </div>

              <div class="collapse-painel">

                <input type="checkbox" id="collapse-3" class="check-open">
                <label for="collapse-3" class="collapse-nav">Titulo do collapse 3 <span class="icon"></span></label>

                  <div class="collapse-container">

                    <h2>Container do collapse 3</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum itaque 
                    quae eos natus est asperiores consectetur sit, deserunt saepe totam tenetur numquam 
                    dicta harum distinctio, accusamus sed minima, reiciendis expedita.</p>

                  </div>


              </div>

              <div class="collapse-painel">

                <input type="checkbox" id="collapse-4" class="check-open">
                <label for="collapse-4" class="collapse-nav">Titulo do collapse 4 <span class="icon"></span></label>

                  <div class="collapse-container">

                    <h2>Container do collapse 4</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum itaque quae 
                    eos natus est asperiores consectetur sit, deserunt saepe totam tenetur numquam dicta 
                    harum distinctio, accusamus sed minima, reiciendis expedita.</p>

                  </div>


              </div>

            </div>
          {% endhighlight %}

          {% highlight css linenos%}
            //CSS
            @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100);
            body{
                font-family: 'Roboto', sans-serif;;
                font-size: 100%;
            }
            @-webkit-keyframes alpha {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1px;
                }
            }
            .collapse-box{
                width: 100%;
            }
            .collapse-box .check-open{
                display: none;
            }
            .collapse-box .collapse-painel{
                width: 100%;
                display: inline-block;
            }
            .collapse-box .collapse-painel .collapse-nav{
                width: 98%;
                display: inline-block;
                cursor: pointer;
                background-color: #F2F2F2;
                padding: 1%;
                margin-bottom: 5px;
                font-size: .9em;
                color: #000000;
                font-weight: 600;
                transition: all .25s linear;
            }
            .collapse-box .collapse-painel .collapse-nav:hover{
                background-color: #E6E6E6;
            }
            .collapse-box .collapse-painel .collapse-nav .icon{
                width: 12px;
                height: 10px;
                float: right;
                margin: 5px 6px;
            }
            .collapse-box .collapse-painel .collapse-nav .icon:after{
                content: "";
                width: 0;
                height: 0;
                border-top: 10px solid #000;
                border-left: 5px solid transparent;
                position: absolute;
                border-right: 5px solid transparent;
            }
            .collapse-box .collapse-painel .collapse-nav .icon:before{
                content: "";
                width: 0;
                height: 0;
                border-bottom: 10px solid #000;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                opacity: 0;
            }
            .collapse-box .collapse-painel .collapse-container{
                width: 100%;
                height: auto;
                display: none;
            }
            .collapse-box .collapse-painel .check-open:checked ~ .collapse-container{
                display: block;
                -webkit-animation: alpha 2s ease-out;
            }
            .collapse-box .collapse-painel .check-open:checked ~ .collapse-nav .icon:after{
                opacity: 0;
            }
            .collapse-box .collapse-painel .check-open:checked ~ .collapse-nav .icon:before{
                opacity: 1;
            }
          {% endhighlight %}

          {% highlight css linenos%}
            //SASS
            .collapse-box{
              width: 100%;

                .check-open{
                  display:none;
                }

                .collapse-painel{
                  width: 100%;
                  display: inline-block;

                    .collapse-nav{
                      width: 98%;
                      display: inline-block;
                      cursor: pointer;
                      background-color:#F2F2F2;
                      padding: 1%;
                      margin-bottom: 5px;
                      font-size: .9em;
                      color: #000;
                      font-weight: 600;
                      transition: all .25s linear;

                        &:hover{
                          background-color:#E6E6E6;
                        }

                        .icon{
                          width: 12px;
                          height: 10px;
                          float: right;
                          margin: 5px 6px;

                            &:after{
                              content: "";
                              width: 0;
                              height: 0;
                              border-top: 10px solid #000;
                              border-left: 5px solid transparent;
                              position: absolute;
                              border-right: 5px solid transparent;
                            }
                            &:before{
                              content: "";
                              width: 0;
                              height: 0;
                              border-bottom: 10px solid #000;
                              border-left: 5px solid transparent;
                              position: absolute;
                              border-right: 5px solid transparent;
                              opacity: 0;
                            }
                        }
                    }

                    .collapse-container{
                      width: 100%;
                      height: auto;
                      display: none;
                    }
                    .check-open:checked ~ .collapse-container{
                      display: block;
                      -webkit-animation: alpha 2s ease-out;

                    }
                    .check-open:checked ~ .collapse-nav .icon:after{
                      opacity: 0;
                    }
                    .check-open:checked ~ .collapse-nav .icon:before{
                      opacity: 1;
                    }


                }
            }

          {% endhighlight %}

    </section>