<header>
  <nav class="selecione">
    <input type="checkbox" id="open-submenu" >
    <label for="open-submenu" class="texto-selecione">Selecione um componente</label>
    <ul>
      <li><label for="carousel">Carousel</label></li>
      <li><label for="collapse">Collapse</label></li>
      <li><label for="modal-open">Modal</label></li>
      <li><label for="tab">Tab</label></li>
      <li><label for="menu-mobile">Menu Mobile</label></li>
      <li><label for="card-open">Card</label></li>
      <li><label for="dropdown-open">Dropdown</label></li>
      <li><label for="timeline-open">Timeline</label></li>
      <li><label for="preloaders-open">Preloaders</label></li>
      <li><label for="tooltips-open">Tooltips</label></li>
      <li><label for="text-open">Text Filter Background</label></li>
      <li><label for="checkbox-open">Checkbox</label></li>
      <li><label for="avaliacao-open">Avaliação</label></li>
      <li><label for="facebook-open">Facebook Reactions</label></li>
      <li><label for="menu-vertical-open">Menu Vertical</label></li>
    </ul>
  </nav>
</header>
