<!--MENU VERTICAL-->
<input type="radio" class="open-components" name="radio-components" id="menu-vertical-open">
<section class="container">
  <div class="root-menu">

    <nav class="menu-vertical">
      <ul>
        <li><i class="typicons-home"></i><div class="nav-texto">Principal</div></li>
        <li><i class="typicons-group"></i><div class="nav-texto">Usuários</div></li>
        <li><i class="typicons-camera"></i><div class="nav-texto">Galeria</div></li>
        <li><i class="typicons-lineChart"></i><div class="nav-texto">Gráficos</div></li>
        <li><i class="typicons-music"></i><div class="nav-texto">Musica</div></li>
        <li><i class="typicons-mail"></i><div class="nav-texto">Contato</div></li>
      </ul>
    </nav>

  </div>
  <div class="row">

        {% include download.html %}

  </div>

    {% highlight html %}
      <div class="root-menu">

        <nav class="menu-vertical">
          <ul>
            <li><i class="typicons-home"></i><div class="nav-texto">Principal</div></li>
            <li><i class="typicons-group"></i><div class="nav-texto">Usuários</div></li>
            <li><i class="typicons-camera"></i><div class="nav-texto">Galeria</div></li>
            <li><i class="typicons-lineChart"></i><div class="nav-texto">Gráficos</div></li>
            <li><i class="typicons-music"></i><div class="nav-texto">Musica</div></li>
            <li><i class="typicons-mail"></i><div class="nav-texto">Contato</div></li>
          </ul>
        </nav>

      </div>
    {% endhighlight %}

    {% highlight css linenos%}
      //CSS
      @import url(http://weloveiconfonts.com/api/?family=entypo|typicons);
      /* typicons */
      [class*="typicons-"]:before {
        font-family: 'Typicons', sans-serif;
      }

      .root-menu {
        width: 100%;
        height: 600px;
        float: left;
        background-color: deepPink;
        position: relative;
      }
      .root-menu nav {
        width: 80px;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #0e0f12;
      }
      .root-menu nav li, .root-menu nav i {
        width: 80px;
        height: 50px;
        float: left;
        cursor: pointer;
        transition: all .10s ease;
      }
      .root-menu nav li {
        position: relative;
        margin-top: 30px;
      }
      .root-menu nav li:hover {
        background-color: #b40e68;
      }
      .root-menu nav li:hover i {
        color: #FFF;
      }
      .root-menu nav i {
        line-height: 60px;
        text-align: center;
        color: #878789;
        font-size: 50px;
        font-style: normal;
      }
      .root-menu nav .nav-texto {
        width: 100px;
        height: 50px;
        position: absolute;
        left: -190px;
        top: 0px;
        background-color: #b40e68;
        line-height: 50px;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        color: #FFF;
        font-size: 1.5em;
        padding-right: 30px;
        transition: all .5s ease;
      }
      .root-menu nav li:hover .nav-texto {
        left: 80px;
      }
    {% endhighlight %}

    {% highlight sass linenos%}
      //SASS
      @import url(http://weloveiconfonts.com/api/?family=entypo|typicons);
      /* typicons */
      [class*="typicons-"]:before {
        font-family: 'Typicons', sans-serif;
      }
      .root-menu{
        width: 100%;
        height: 600px;
        float: left;
        background-color: deepPink;
        position: relative;

          nav{
            width: 80px;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: #0e0f12;

              li, i{
                width: 80px;
                height: 50px;
                float: left;
                cursor: pointer;
                transition: all .10s ease;
              }
              li{
                position: relative;
                margin-top: 30px;
              }
              li:hover{
                background-color: #b40e68;
              }
              li:hover i{
                color: #FFF;
              }
              i{
                line-height: 60px;
                text-align: center;
                color: #878789;
                font-size: 50px;
                font-style: normal;
              }
              .nav-texto{
                width: 100px;
                height: 50px;
                position: absolute;
                left: -190px;
                top: 0px;
                background-color: #b40e68;
                line-height: 50px;
                text-align: right;
                font-family: 'Roboto', sans-serif;
                color: #FFF;
                font-size: 1.5em;
                padding-right: 30px;
                transition: all .5s ease;
              }
              li:hover .nav-texto{
                left: 80px;
              }
          }
      }
    {% endhighlight %}
</section>
