<!--PRELOADERS-->
<input type="radio" class="open-components" name="radio-components" id="preloaders-open">
<section class="container">
  <div class="row">

    <div class="box-preloaders">

      <div class="line">
        <div class="preloaders-1"></div>
        <div class="preloaders-2"></div>
        <div class="preloaders-3">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="line">
        <div class="preloaders-4"></div>
        <div class="preloaders-5"></div>
      </div>

    </div>


        {% include download.html %}

  </div>

    {% highlight html %}
      <div class="box-preloaders">

        <div class="line">
          <div class="preloaders-1"></div>
          <div class="preloaders-2"></div>
          <div class="preloaders-3">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="line">
          <div class="preloaders-4"></div>
          <div class="preloaders-5"></div>
        </div>

      </div>
    {% endhighlight %}

    {% highlight css linenos%}
      //CSS
      @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100);
      body{
          font-family: 'Roboto', sans-serif;;
          font-size: 100%;
      }
      @-webkit-keyframes preloader1 {
          0%{
              transform: rotate(0deg);
          }
          100%{
              transform: rotate(360deg);
          }
      }
      @-webkit-keyframes preloader2after {
          0%{
              transform: rotate(0deg);
          }
          50%{
              transform: rotate(190deg);
          }
          100%{
              transform: rotate(0deg);
          }
      }
      @-webkit-keyframes preloader2before {
          0%{
              transform: rotate(0deg);
          }
          50%{
              transform: rotate(190deg);
          }
          100%{
              transform: rotate(0deg);
          }
      }
      @-webkit-keyframes preloader3 {
          0%{
              transform: scale(.2);
          }
          50%{
              transform: scale(1);
          }
          100%{
              transform: scale(.2);
          }
      }
      @-webkit-keyframes preloader3b {
          0%{
              transform: scale(1);
          }
          50%{
              transform: scale(.2);
          }
          100%{
              transform: scale(1);
          }
      }
      @-webkit-keyframes preloader4 {
          0%{
              transform: rotate(0deg);
          }
          100%{
              transform: rotate(360deg);
          }
      }
      @-webkit-keyframes preloaders-5{
        0%{
          left: 0;
        }
        50%{
          left: 150px;
        }
        100%{
          left: 0;
        }
      }
      /* PRELOADER 1 */
      .box-preloaders{
          width: 100%;
          height: auto;
          float: left;
      }
      .box-preloaders .preloaders-1{
          width: 200px;
          height: 200px;
          float: left;
          margin-right: 150px;
          position: relative;
          border: 10px solid #2E2929;
          border-radius: 50%;
      }
      .box-preloaders .preloaders-1:after{
          content: "";
          width: 200px;
          height: 200px;
          position: absolute;
          top: -10px;
          left: -11px;
          border: 10px solid transparent;
          border-right: 12px solid #FF1493;
          border-radius: 50%;
          -webkit-animation: preloader1 1s linear infinite;
      }
      /* PRELOADER 2 */
      .box-preloaders .preloaders-2{
          width: 200px;
          height: 200px;
          float: left;
          margin-right: 150px;
          position: relative;
          border: 10px solid #2E2929;
          border-radius: 50%;
      }
      .box-preloaders .preloaders-2:after{
          content: "";
          width: 200px;
          height: 200px;
          position: absolute;
          top: -10px;
          left: -11px;
          border: 10px solid transparent;
          border-right: 12px solid #FF1493;
          border-radius: 50%;
          -webkit-animation: preloader2after 1s cubic-bezier(0.49, 0, 0.46, 1) infinite;
      }
      .box-preloaders .preloaders-2:before{
          content: "";
          width: 200px;
          height: 200px;
          position: absolute;
          top: -10px;
          left: -11px;
          border: 10px solid transparent;
          border-left: 12px solid #FF1493;
          border-radius: 50%;
          -webkit-animation: preloader2before 1s cubic-bezier(0.49, 0, 0.46, 1) infinite;
      }
      /* PRELOADER 3 */
      .box-preloaders .preloaders-3{
          width: 230px;
          height: 50px;
          float: left;
          margin-top: 80px;
      }
      .box-preloaders .preloaders-3 span{
          width: 50px;
          height: 50px;
          float: left;
          margin-right: 30px;
          background-color: #2E2929;
          border-radius: 50px;
      }
      .box-preloaders .preloaders-3 span:last-child{
          margin-right: 0;
      }
      .box-preloaders .preloaders-3 span:nth-child(1){
          -webkit-animation: preloader3 1s cubic-bezier(0.49, 0, 0.46, 1) infinite;
      }
      .box-preloaders .preloaders-3 span:nth-child(2){
          -webkit-animation: preloader3b 1s cubic-bezier(0.49, 0, 0.46, 1) infinite;
      }
      .box-preloaders .preloaders-3 span:nth-child(3){
          -webkit-animation: preloader3 1s cubic-bezier(0.49, 0, 0.46, 1) infinite;
      }
      /* PRELOADER 4 */
      .box-preloaders .preloaders-4{
          width: 200px;
          height: 200px;
          float: left;
          position: relative;
          border-radius: 50%;
          border-right: 20px solid #FF1493;
          border-left: 20px solid transparent;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          -webkit-animation: preloader4 1s linear infinite;
      }
      .box-preloaders .preloaders-4:before{
          content: "";
          width: 100px;
          height: 100px;
          position: absolute;
          left: 50px;
          top: 50px;
          background-color: #2E2929;
          border-radius: 50%;
      }
      /* PRELOADER 5*/
      .preloaders-5 {
          width: 200px;
          height: 20px;
          float: left;
          position: relative;
          margin: 100px 0 0 150px;
          background-color: #2E2929;
      }
      .preloaders-5:after {
          content: "";
          width: 50px;
          height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #FF1493;
          animation: preloaders-5 1s linear infinite;
      }

    {% endhighlight %}

    {% highlight sass linenos%}
      @-webkit-keyframes preloader1 {
          0%{
              transform: rotate(0deg);
          }
          100%{
              transform: rotate(360deg);
          }
      }
      @-webkit-keyframes preloader2after {
          0%{
              transform: rotate(0deg);
          }
          50%{
              transform: rotate(190deg);
          }
          100%{
              transform: rotate(0deg);
          }
      }
      @-webkit-keyframes preloader2before {
          0%{
              transform: rotate(0deg);
          }
          50%{
              transform: rotate(190deg);
          }
          100%{
              transform: rotate(0deg);
          }
      }
      @-webkit-keyframes preloader3 {
          0%{
              transform: scale(.2);
          }
          50%{
              transform: scale(1);
          }
          100%{
              transform: scale(.2);
          }
      }
      @-webkit-keyframes preloader3b {
          0%{
              transform: scale(1);
          }
          50%{
              transform: scale(.2);
          }
          100%{
              transform: scale(1);
          }
      }
      @-webkit-keyframes preloader4 {
          0%{
              transform: rotate(0deg);
          }
          100%{
              transform: rotate(360deg);
          }
      }
      @-webkit-keyframes preloaders-5{
        0%{
          left: 0;
        }
        50%{
          left: 150px;
        }
        100%{
          left: 0;
        }
      }
      //SASS
      .box-preloaders{
      	width: 100%;
      	height: auto;
      	float: left;
      	.preloaders-1{
      		width: 200px;
      		height: 200px;
      		float: left;
      		margin-right: 150px;
      		position: relative;
      		border: 10px solid $preto;
      		border-radius: 50%;
      		&:after{
      			content: "";
      			width: 200px;
      			height: 200px;
      			position: absolute;
      			top: -10px;
          		left: -11px;
      			border: 10px solid transparent;
      			border-right: 12px solid $rosa;
      			border-radius: 50%;
      			-webkit-animation: preloader1 1s linear infinite;
      		}
      	}
      	.preloaders-2{
      		width: 200px;
      		height: 200px;
      		float: left;
      		margin-right: 150px;
      		position: relative;
      		border: 10px solid $preto;
      		border-radius: 50%;
      		&:after{
      			content: "";
      			width: 200px;
      			height: 200px;
      			position: absolute;
      			top: -10px;
          		left: -11px;
      			border: 10px solid transparent;
      			border-right: 12px solid $rosa;
      			border-radius: 50%;
      			-webkit-animation: preloader2after 1s cubic-bezier(.49,0,.46,1) infinite;
      		}
      		&:before{
      			content: "";
      			width: 200px;
      			height: 200px;
      			position: absolute;
      			top: -10px;
          		left: -11px;
      			border: 10px solid transparent;
      			border-left: 12px solid $rosa;
      			border-radius: 50%;
      			-webkit-animation: preloader2before 1s cubic-bezier(.49,0,.46,1) infinite;
      		}
      	}
      	.preloaders-3{
      		width: 230px;
      		height: 50px;
      		float: left;
      		margin-top: 80px;
      			span{
      				width: 50px;
      				height: 50px;
      				float: left;
      				margin-right: 30px;
      				background-color: $preto;
      				border-radius: 50px;
      				&:last-child{
      					margin-right: 0;
      				}
      				&:nth-child(1){
      					-webkit-animation: preloader3 1s cubic-bezier(.49,0,.46,1) infinite;
      				}
      				&:nth-child(2){
      					-webkit-animation: preloader3b 1s cubic-bezier(.49,0,.46,1) infinite;
      				}
      				&:nth-child(3){
      					-webkit-animation: preloader3 1s cubic-bezier(.49,0,.46,1) infinite;
      				}
      			}
      	}
      	.preloaders-4{
      		width: 200px;
      		height: 200px;
      		float: left;
      		position: relative;
      		border-radius: 50%;
      		border-right: 20px solid $rosa;
      		border-left: 20px solid transparent;
      		border-top: 20px solid transparent;
      		border-bottom: 20px solid transparent;
      		-webkit-animation: preloader4 1s linear infinite;
      		&:before{
      			content: "";
      			width: 100px;
      			height: 100px;
      			position: absolute;
      			left: 50px;
      			top: 50px;
      			background-color: $preto;
      			border-radius: 50%;
      		}
      	}
        .preloaders-5{
      		width: 200px;
      		height: 20px;
      		float: left;
      		position: relative;
      		margin: 100px 0 0 150px;
      		background-color: $preto;
      		&:after{
      			content: "";
      			width: 50px;
      			height: 20px;
      			position: absolute;
      			top: 0;
      			left: 0;
      			background-color: $rosa;
      			animation: preloaders-5 1s linear infinite;
      		}
      	}
      }
    {% endhighlight %}
</section>
