.container{
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 5%;
  display: none;
}
.row{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
h1{
  width: 100%;
  height: auto;
  float: left;
  margin: 2% 0;
  text-align: center;
  font-weight: 100;
  color: $rosa2;
  font-size: 4em;
    &:before{
      content: "</";
    }
    &:after{
      content: ">";
    }
}
.code{
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 10px;
    h2{
      width: auto;
      height: auto;
      float: left;
      border-bottom: 2px solid $preto;
      padding: 0 5px;
      font-size: 1.4em;
      font-weight: 400;
      color: $preto;
    }
    a{
      width: auto;
      float: right;
      font-weight: 300;
      font-size: 1.3em;
      color: $preto;
      &:before{
        content: "";
        width: 30px;
        height: 30px;
        float: left;
        margin-top: -3px;
        background-image: url("/images/github.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
}
.open-components{
  display: none;
}
#carousel:checked + .container,
#collapse:checked + .container,
#modal-open:checked + .container,
#tab:checked + .container,
#menu-mobile:checked + .container
{
  display: block;
}
